# PostgreSQL Credentials
POSTGRES_DB=n8n
POSTGRES_USER=n8n_user
POSTGRES_PASSWORD=password

# n8n Configuration
N8N_HOST=n8n
GENERIC_TIMEZONE=Europe/Isle_of_Man
N8N_EDITOR_BASE_URL=https://domain.tld
WEBHOOK_URL=https://domain.tld

# Docker-specific settings (optional but good practice)
# This helps ensure data directories are owned by the right user
PUID=1000
PGID=1000
